/* .breadcrumbs li.custom-bread-item :before{
    font-size: 20px;
    border-top: 3px solid;
    border-right: 3px solid;
/* } this is not working don,t know why */

.breadcrumbs > ul > li + *:before {
  font-size: 20px;
  border-top: 2px solid;
  border-right: 2px solid;
}
/* 
select {
  color: green;
}
select :invalid {
  color: red;
} */

/* 9ca3af */
