.dashboard-content-box{
    min-height: calc(100vh - 60px);
    width: calc(100vw - 280px);
    margin: 60px 20px 0px 280px;
    /* background: #a19696; */
}

.custom-bread-item.li :before{
    font-size: 20px;
    border-top: 3px solid;
    border-right: 3px solid;
    /* width: 10px;
    height: 10px; */
}
